.title a {
    color: #0070f3;
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    margin: 1rem;
    line-height: 1.15;
    font-size: 4rem;
}

.title {
    text-align: center;
}

.addBtn {
    display: flex;
    align-items: center;
    font-size: 1.15rem;
}

.addBtn span {
    font-size: 1.5rem;
    margin-right: 10px;
}

.searchBar {
    display: flex;
    flex-direction: column;
    margin: 2rem auto 1rem 0;
}

@media screen and (min-width: 500px) {
    .searchBar {
        flex-direction: row;
    }
    .searchBar > label {
        margin-right: 1rem;
    }
}
