.title {
    position: relative;
}
.title:hover:after {
    position: absolute;
    bottom: -10px;
    left: 0;
    content: "";
    width: 50%;
    height: 3px;
    border-radius: 10px;
    background: rgb(240, 154, 201);
}
